.header__item:hover {
  filter: drop-shadow(1px 1px 5px var(--search-text));
}

.header__wrapper {
  display: grid;
  grid-template-rows: 54px;
  grid-template-columns: 313px 250px 757px 451px;
  justify-items: start;
  align-items: end;
}

.header__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 3px;
  color: #2D2D2D;
}

.header__text-blue {
  color: var(--header-color);
}

.header__button {
  background: var(--header-color);
  border-radius: 10px;
  width: 151px;
  height: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}

.header__search {
  display: flex;
  background: var(--search-background);
  border-radius: 30px;
  border: 1px var(--search-background);
  height: 54px;
  width: 757px;
  padding-left: 40px;
  margin-right: 97px;
}

.header__input {
  display: block;
  background: transparent;
  border: transparent;
  width: 615px;
  height: 54px;
  outline-color: var(--search-text);
}

.header__button-search {
  display: inline-block;
  float: right;
  border-radius: 30px;
  width: 101px;
  height: 54px;
}

.header__personal {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  gap: 65px;
}

.header__text-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: normal;
}

.header__icons {
  align-self: flex-end;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__wrapper {
    grid-template-rows: 54px 54px;
    grid-template-columns: 240px 700px;
    gap: 34px 0;
  }

  .header__menu {
    grid-area: 2 / 1 / 3 / 2;
  }

  .header__search {
    grid-area: 2 / 2 / 3 / 3;
    width: 700px;
    margin-right: 0;
  }

  .header__input {
    width: 560px;
  }

  .header__button-search {
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    grid-template-rows: 42px 42px;
    grid-template-columns: 160px 540px;
    gap: 35px 0;
  }

  .header__text {
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 2px;
  }

  .header__button {
    width: 115px;
    height: 42px;
    font-size: 16px;
  }

  .header__input {
    width: 400px;
    height: 42px;
  }

  .header__search {
    justify-content: flex-end;
    width: 540px;
    height: 42px;
    padding-left: 20px;
  }

  .header__button-search {
    width: 82px;
  }

  .header__personal {
    gap: 29px;
  }

  .header__text-subtitle {
    font-size: 12px;
    line-height: 130%;
  }

  .header__item svg {
    width: 22px;
    height: auto;
  }

  .header-logo {
    align-self: center;
  }
}

@media (max-width: 320px) {
  .header__text-subtitle {
    display: none;
  }

  .header__wrapper {
    grid-template-rows: 30px 30px 30px;
    grid-template-columns: 120px 160px;
    gap: 20px 0;
  }

  .header__logo {
    grid-area: 1 / 1 / 2 / 2;
  }

  .header__text {
    font-size: 18px;
    line-height: 25px;
  }

  .header__menu {
    grid-area: 2 / 1 / 3 / 2;
  }

  .header__personal {
    grid-area: 2 / 2 / 3 / 3;
  }

  .header__search {
    grid-area: 3 / 1 / 4 / 3;
  }

  .header__button {
    width: 79px;
    height: 30px;
    font-size: 12px;
    line-height: 150%;
  }

  .header__search {
    width: 280px;
    height: 30px;
    padding-left: 16px;
  }

  .header__button-search {
    width: 50px;
    height: 30px;
  }

  .header__button-search svg {
    width: 15px;
    height: auto;
  }

  .header__input {
    width: 210px;
    height: 30px;
    font-size: 8px;
    line-height: 130%;
  }
}
