:root {
  --main-color: #FFFFFF;
  --header-color: #3670C7;
  --icon-color: #2D2D2D;
  --search-text: #8F8F8F;
  --search-background: #EFEFEF;
  --sale-background: #FFBD13;
  --promo-background: #38C0EB;
  --promo-text: #F91155;
}
